<div class="container mx-auto! px-2 sm:px-0 w-full h-dvh flex flex-col gap-4 items-center justify-center">
  <form class="p-3 w-96 flex gap-4 flex-col" (submit)="login($event)">
    <h1 class="mx-auto text-3xl">Login</h1>
    <div class="flex flex-col gap-7 w-full">
      <div class="relative">
        <input
          class="transition-all duration-200 peer outline-none border focus:border-(--mat-sys-outline) w-full rounded-md p-3 focus:ring-2 focus:ring-(--mat-sys-outline)"
          type="email"
          autocomplete="new-password"
          [field]="loginForm.email"
          #email
        />
        <label class="label"
          [class.float-label]="loginForm.email().value().trim() !== ''"
          [class.text-(--mat-sys-error)]="loginForm.email().touched() && loginForm.email().invalid()"
          [class.peer-focus\:text-inherit]="loginForm.email().touched() && loginForm.email().invalid()"
        >
          Email<span class="ps-0.5">*</span>
        </label>
        @if (loginForm.email().touched() && loginForm.email().invalid()) {
          <ul class="error-list">
            @for (error of loginForm.email().errors(); track $index) {
              <li class="form-error-msg" >{{ error.message }}</li>
            }
          </ul>
        }
      </div>
      <div class="relative">
        @if (!showPass()) {
          <input
            class="transition-all duration-200 peer outline-none border focus:border-(--mat-sys-outline) w-full rounded-md p-3 focus:ring-2 focus:ring-(--mat-sys-outline)"
            type="password"
            autocomplete="new-password"
            [field]="loginForm.password"
            #password
          />
        }
        @else {
          <input
            class="transition-all duration-200 peer outline-none border focus:border-(--mat-sys-outline) w-full rounded-md p-3 focus:ring-2 focus:ring-(--mat-sys-outline)"
            type="text"
            autocomplete="new-password"
            [field]="loginForm.password"
            #password
          />
        }
        <label
          class="label"
          [class.float-label]="loginForm.password().value().trim() !== ''"
          [class.text-(--mat-sys-error)]="loginForm.password().touched() && loginForm.password().invalid()"
          [class.peer-focus\:text-inherit]="loginForm.password().touched() && loginForm.password().invalid()"
        >
          Password<span class="ps-0.5">*</span>
        </label>
        <button
          class="transition-all duration-200 absolute right-2 top-1/2 -translate-y-3"
          role="button"
          type="button"
          (click)="showPass.set(!showPass())"
        >
          <mat-icon>{{ showPass() ? 'visibility' : 'visibility_off' }}</mat-icon>
        </button>
        @if (loginForm.password().touched() && loginForm.password().invalid()) {
          <ul class="error-list">
            @for (error of loginForm.password().errors(); track $index) {
              <li class="form-error-msg" >{{ error.message }}</li>
            }
          </ul>
        }
      </div>
      <!-- <a
        class="transition-colors duration-200 hover:text-sky-700 text-sky-500 underline underline-offset-2"
        routerLink="/forgot_password"
        >Forget Password?</a
      > -->
      <button
        class="transition-all duration-200 border h-[42px] rounded-md py-2 text-(--mat-sys-on-surface) border-(--mat-sys-outline) bg-(--mat-sys-surface) hover:bg-(--mat-sys-secondary-container) hover:text-(--mat-sys-on-secondary-container) hover:disabled:cursor-not-allowed hover:cursor-pointer"
        type="submit"
        role="button"
        [disabled]="loginForm().invalid() || loginProcess()"
        [matTooltip]="loginForm().invalid() ? 'Fill the above fields first' : ''"
      >
        @if(loginProcess()) {
        <mat-spinner class="mx-auto h-6! w-6!"></mat-spinner>
        } @else { Submit }
      </button>
    </div>
    <p class="text-center">
      Don't have an account ?&nbsp;<a
        class="transition-colors duration-200 hover:text-(--mat-sys-primary) text-(--mat-sys-primary)/60 underline underline-offset-2"
        routerLink="/register"
        >Register here.</a
      >
    </p>
  </form>
</div>
