::ng-deep .mat-mdc-dialog-panel {
  @media (max-width: 1200px) {
    width: 100dvw !important;
    max-width: 100dvw !important;
    height: 100dvh !important;
    max-height: 100dvh !important;
    margin: 0 !important;
  }
}

::ng-deep .mat-mdc-dialog-surface {
  @media (max-width: 1200px) {
    border-radius: 0 !important;
  }
}

::ng-deep mat-dialog-content {
  padding: 0 !important;
  display: flex !important;
  flex-direction: column !important;
  max-height: 80vh !important;

  @media (max-width: 1200px) {
    max-height: unset !important;
    flex: 1;
  }
}

mat-dialog-actions {
  @media (max-width: 1200px) {
    padding: 16px !important;
    border-top: 1px solid var(--mat-sys-outline-variant);
  }
}

.description-container {
  overflow: hidden;
  display: block;
}

.description-container.collapsed {
  max-height: 4em;
}

.description-container.expanded {
  max-height: 1000px;
}

/* Aria menu css */
[ngMenuTrigger] {
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  padding: 8px;
  border-radius: 100%;
  background-color: color-mix(in srgb, var(--mat-sys-primary) 5%, transparent);
  color: color-mix(in srgb, var(--mat-sys-primary) 70%, var(--mat-sys-on-primary));
}
[ngMenuTrigger] .icon {
  font-size: 1.5rem;
  opacity: 0.875;
}
[ngMenu] {
  gap: 3px;
  width: 15rem;
  display: flex;
  flex-direction: column;
}
[ngMenu] .group {
  padding: 0.25rem;
  border-radius: 0.25rem;
  background-color: var(--mat-sys-surface);
  box-shadow: 0 1px 2px 1px color-mix(in srgb, var(--mat-sys-on-surface) 25%, transparent);
}
[ngMenu] .group:first-of-type {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}
[ngMenu] .group:last-of-type {
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}
[ngMenu][data-visible='false'] {
  display: none;
}
[ngMenuItem] {
  outline: none;
  display: flex;
  width: 100%;
  position: relative;
  cursor: pointer;
  align-items: center;
  gap: 0.5rem;
  padding: 0.75rem;
  font-size: 0.875rem;
  border-radius: 0.75rem;
}
[ngMenuTrigger]:hover,
[ngMenuTrigger][aria-expanded='true'] {
  background: color-mix(in srgb, var(--mat-sys-primary) 10%, transparent);
}
[ngMenuItem][data-active='true'] {
  color: color-mix(in srgb, var(--mat-sys-primary) 70%, var(--mat-sys-on-primary));
  background: color-mix(in srgb, var(--mat-sys-primary) 5%, transparent);
}
[ngMenuItem][data-active='true']:last-child {
  color: color-mix(in srgb, var(--mat-sys-error) 70%, var(--mat-sys-on-error));
  background: color-mix(in srgb, var(--mat-sys-error) 5%, transparent);
}
[ngMenuItem]:focus,
[ngMenuTrigger]:focus {
  outline: 2px solid var(--mat-sys-primary);
}
[ngMenuItem]:focus:last-child {
  outline: 2px solid var(--mat-sys-error);
}
[ngMenuItem] .icon {
  opacity: 0.875;
  font-size: 1.25rem;
}
[ngMenuItem] .label {
  position: absolute;
  background: transparent;
  left: 50px;
  top: 50%;
  opacity: 0.875;
  font-size: 0.875rem;
}
