::ng-deep .mat-mdc-dialog-panel {
  @media (max-width: 1200px) {
    width: 100dvw !important;
    max-width: 100dvw !important;
    height: 100dvh !important;
    max-height: 100dvh !important;
    margin: 0 !important;
  }
}

::ng-deep .mat-mdc-dialog-surface {
  @media (max-width: 1200px) {
    border-radius: 0 !important;
  }
}

::ng-deep mat-dialog-content {
  @media (max-width: 1200px) {
    padding: 0 !important;
    display: flex !important;
    flex-direction: column !important;
    max-height: unset !important;
    flex: 1;
  }
}

mat-dialog-actions {
  @media (max-width: 1200px) {
    padding: 16px !important;
    border-top: 1px solid var(--mat-sys-outline-variant);
  }
}

.description-container {
  overflow: hidden;
  display: block;
}

.description-container.collapsed {
  max-height: 4em;
}

.description-container.expanded {
  max-height: 1000px;
}
