<div class="flex flex-col gap-2 mt-2 items-start">
  @for (att of attachments(); track $index) {
    @if (isImage(att)) {
        <div class="text-start">
            <img
            [src]="imagePath + att.url"
            alt="Image attachment"
            class="max-w-xs rounded-lg shadow-md cursor-pointer"
            (click)="viewAssets(attachments(), $index)"
            />
        </div>
        } @else if (isVideo(att)) {
        <div class="text-start">
            <video
            (click)="viewAssets(attachments(), $index); $event.preventDefault(); $event.stopPropagation()"
            [src]="imagePath + att.url"
            controls
            class="max-w-xs rounded-lg shadow-md"
            ></video>
        </div>
        } @else if (isPdf(att)) {
        <div class="text-start">
            <a
            [href]="imagePath + att.url"
            target="_blank"
            class="flex items-center gap-2 text-blue-600 hover:underline"
            >
            <mat-icon>picture_as_pdf</mat-icon>
            <span>{{ att.name }}</span>
            </a>
        </div>
        }
    }
</div>
