@if (user()) {
<mat-drawer-container class="w-auto h-dvh bg-(--mat-sys-primary-container)!">
  <mat-drawer
    [mode]="isTablet() ? 'over' : 'side'"
    [opened]="!isTablet() || isOpen()"
    opened
    class="w-auto! bg-(--mat-sys-surface)! rounded-none!"
    [class.w-dvw!]="isTablet() && isOpen()"
    [class.home-scroll]="isTablet() && isOpen()"
  >
    <!-- @if(isTablet() && isOpen()) {
    <mat-card class="border-0! rounded-none!" appearance="outlined">
      <mat-card-header [class.px-2!]="isTablet()" [class.pt-2!]="isTablet()">
        <button
          mat-icon-button
          matTooltip="Open side panel"
          aria-label="Open side panel"
          matTooltipPosition="right"
          (click)="openForBase()"
        >
          <mat-icon class="text-3xl">menu</mat-icon>
        </button>
      </mat-card-header>
    </mat-card>
    } -->
    <div
      class="flex items-start flex-col h-full channel-wrap px-4"
      [class.h-[calc(100%-48px)]!]="isTablet() && isOpen()"
    >
      <mat-nav-list class="w-full">
        <h2 matSubheader>Channels</h2>
        <button mat-list-item class="user-links" (click)="openDialog()">
          <mat-icon matListItemIcon>add</mat-icon>
          <span matListItemTitle>Add Channel</span>
        </button>
        @for (channel of userChannels(); track $index) {
        <div class="relative">
          @if(channel.unread_count && channel.unread_count > 0) {
          <div
            class="absolute top-0 right-0 w-5 h-5 bg-(--mat-sys-error) text-(--mat-sys-on-error) rounded-full z-10 text-xs flex justify-center items-center"
            [class.text-[10px]]="channel.unread_count > 10"
          >
            {{ channel.unread_count > 10 ? '10+' : channel.unread_count }}
          </div>
          }
          <a
            [routerLink]="['/chat/channel', channel.id]"
            routerLinkActive="chat-active"
            mat-list-item
            class="user-links"
            (click)="closeAll()"
          >
            <mat-icon matListItemIcon>{{ channel.is_private ? 'lock' : 'groups' }}</mat-icon>
            <span matListItemTitle>{{ channel.title }}</span>
          </a>
        </div>
        }
      </mat-nav-list>
      <mat-divider></mat-divider>
      <mat-nav-list class="w-full">
        <h2 matSubheader>Direct messages</h2>
        @for (chat of combinedChats(); track $index) {
        <div class="relative">
          @if(chat.unreadCount > 0) {
          <div
            class="absolute top-0 right-0 w-5 h-5 bg-(--mat-sys-error) text-(--mat-sys-on-error) rounded-full z-10 text-xs flex justify-center items-center"
            [class.text-[10px]]="chat.unreadCount > 10"
          >
            {{ chat.unreadCount > 10 ? '10+' : chat.unreadCount }}
          </div>
          }
          <a
            class="relative flex flex-row user-links transition-all duration-200 ease-in-out"
            mat-list-item
            [routerLink]="chat.id"
            routerLinkActive="chat-active"
            (click)="closeAll()"
          >
            <span
              class="absolute w-2 h-2 rounded-full z-10 bottom-2.5 left-8"
              [class.active]="chat?.is_active"
              [class.away]="!chat?.is_active"
            ></span>
            <img matListItemIcon class="rounded-full" [src]="chat.avatar_url | imageUrl: true" />
            <span class="w-auto" matListItemTitle>{{ chat.first_name }}</span>
            @if(chat.is_typing && chat.id !== user()?.id) {
            <div class="flex items-center gap-1">
              <div class="w-1 h-1 rounded-full bg-(--mat-sys-inverse-surface) animate-pulse"></div>
              <div
                class="w-1 h-1 rounded-full bg-(--mat-sys-inverse-surface) animate-pulse [animation-delay:200ms]"
              ></div>
              <div
                class="w-1 h-1 rounded-full bg-(--mat-sys-inverse-surface) animate-pulse [animation-delay:400ms]"
              ></div>
            </div>
            }
          </a>
        </div>
        }
      </mat-nav-list>
    </div>
  </mat-drawer>
  <mat-drawer-content class="overflow-hidden!">
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
}
