@if (user()) {
<mat-drawer-container class="w-auto h-dvh">
  <mat-drawer mode="side" opened class="!w-auto" >
    <div class="flex items-start flex-col h-full">
        <mat-nav-list>
            <h2 matSubheader>Channels</h2>
            <button mat-list-item>
                <mat-icon matListItemIcon>add</mat-icon>
                <span matListItemTitle>Add Channel</span>
            </button>
            @for (channel of userChannels(); track $index) {
                <button mat-list-item>
                    <mat-icon matListItemIcon>{{ channel.type === 'private' ? 'lock' : 'groups' }}</mat-icon>
                    <span matListItemTitle>{{ channel.name }}</span>
                </button>
            }
        </mat-nav-list>
        <mat-divider></mat-divider>
        <mat-nav-list>
            <h2 matSubheader>Direct messages</h2>
            @for (chats of recentlyMessagesUsers(); track $index) {
                <a mat-list-item [routerLink]="chats.id">
                    <img matListItemIcon [src]="imagePath + chats.avatar_url">
                    <span matListItemTitle>{{ chats.first_name }}</span>
                </a>
            }
        </mat-nav-list>
    </div>
  </mat-drawer>
  <mat-drawer-content>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
}@else {
    <p>Home content</p>
}