.chat-active {
    background-color: var(--mat-sys-secondary);
}

.channel-wrap {
    color: var(--mat-sys-inverse-on-surface);
    span {
        color: var(--mat-sys-inverse-on-surface);
    }
    mat-icon {
        color: var(--mat-sys-inverse-on-surface);
    }
}

.user-links {
    span {
        color: var(--mat-sys-inverse-on-surface);
    }
    &:hover {
        background-color: var(--mat-sys-surface-container-highest);
        span {
            color: var(--mat-sys-on-surface-variant);
        }
        mat-icon {
            color: var(--mat-sys-on-surface-variant);
        }
    }
}

.active {
    background-color: green;
}
.away {
    background-color: red;
}