.custom-scroll-bar {
    &::-webkit-scrollbar {
        width: 8px;
    }
    &::-webkit-scrollbar-track {
        background: transparent;
    }
    &::-webkit-scrollbar-thumb {
        background: #888;
        border-radius: 5px;
    }
}

.custom-input {
    --mat-form-field-outlined-container-shape: 50px;
    --mat-form-field-container-vertical-padding: 8px;
    --mat-form-field-container-height: 41px;
    ::ng-deep .mat-mdc-text-field-wrapper {
        padding-right: unset !important;
    }
    ::ng-deep .mdc-text-field--outlined {
        padding-right: 8px !important;
        padding-left: 20px !important;
    }
}