::ng-deep .mat-mdc-card-header-text {
  order: 2;
}

.custom-input {
  --mat-form-field-outlined-container-shape: 20px;
  --mat-form-field-container-vertical-padding: 8px;
  --mat-form-field-container-height: auto;

  textarea {
    resize: none;
    min-height: 24px;
    max-height: 150px;
    overflow-y: auto;
    line-height: 1.5;
    padding: 0;
  }
  ::ng-deep .mat-mdc-form-field-flex {
    align-items: center;
  }
  ::ng-deep .mat-mdc-text-field-wrapper {
    padding-right: unset !important;
    height: auto !important;
  }
  ::ng-deep .mdc-text-field--outlined {
    padding-right: 8px !important;
    padding-left: 16px !important;
    padding-top: 4px !important;
    padding-bottom: 4px !important;
    align-items: center;
  }
  ::ng-deep .mat-mdc-form-field-subscript-wrapper {
    display: none;
  }
  ::ng-deep .mat-mdc-form-field-infix {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    min-height: unset !important;
    display: flex;
    align-items: center;
  }
}

.enter-animation {
  animation: slide-fade 1s;
}

@keyframes slide-fade {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
